// Variables
@import "variables";

// Fonts
@font-face {
  font-family: $font-family;
  src: url("/fonts/exocet.ttf");
}

html {
  background: $site-background;
}

#app {
  font-family: $font-family;
  background: $site-background;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  .home {
    padding: 10% 0;
  }

  hr {
    border: 1px solid grey;
  }

  .site-title {
    text-align: center;
  }

  .item-container {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
      url("/images/item-background.jpeg");
    border-radius: 4px;
    border: 1px solid grey;
    text-align: center;

    .item-name {
      margin-top: 20px;
    }

    .price {
      margin-bottom: 20px;
    }
  }

  .hover-container {
    position: absolute;
    width: 0px;
    height: 0px;

    .hover {
      position: absolute;
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
      z-index: 1000;
      pointer-events: none;
      text-align: center;
      width: 450px;
      border-radius: 4px;
    }
  }

  .d2-header-image > img {
    border-radius: 8px;
    border: 1px solid grey;
    margin-bottom: 12px;
  }
}

#navbar {
  .logo {
    height: 45px;
    width: 40px;
  }

  .navbar-dark .navbar-nav .nav-link.active {
    border-bottom: 1px solid white;
  }

  .btn-login {
    background: transparent;
    border: 1px solid grey;
  }

  .btn-login:hover {
    border: 1px solid white;
  }
}

.modal {
  display: block !important;
}

// Bootstrap
@import "~bootstrap/scss/bootstrap";
